body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-image: url("img/bg.png");
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    overflow-y: hidden;
}
.scroll{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    overflow: scroll;
    overflow-x:hidden;
    -ms-overflow-style: none;
    scrollbar-width: none; 
    
    scroll-snap-type: none;
}

.scroll:hover{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
.scroll:hover .panel{
    scroll-snap-align: center;
    scroll-snap-stop: normal;
}
.scroll::-webkit-scrollbar{
    display: none;
}
.inverted{
    transform: rotate(180deg);
}
.inverted .panel{
    transform: rotate(180deg);
}
.panel{
    margin: 10px;
    width: calc(100% - 23px);
    aspect-ratio: 1/1.6;
    border: solid #E9EAF0 2px;
    color: white;
    text-align: center;
}

@media (min-width: 768px) and (max-width: 1024px){
    .scroll{
        width: 50vw;
    }
    .panel1, .panel6{
        margin-top: calc((100vh - (50vw * 1.6 - 38px)) / 2 );
    }
    .panel4, .panel2{
        margin-bottom: calc((100vh - (50vw * 1.6 - 38px)) / 2 );
    }
}
@media (min-width: 1025px){
    .scroll{
        width: 33vw;
    }
    .panel1, .panel5, .panel6{
        margin-top: calc((100vh - (33vw * 1.6 - 38px)) / 2 );
    }
    .panel3, .panel4, .panel2{
        margin-bottom: calc((100vh - (33vw * 1.6 - 38px)) / 2 );
    }
}